<div class="container mt-5">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">PrimeiroNome</th>
        <th scope="col">SegundoNome</th>
        <th scope="col">Email</th>
        <th scope="col">Cidade</th>
        <th scope="col">DataNascimento</th>
        <th scope="col">Vaga</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ='let us of readData'>
        <th scope="row">{{us.id}}</th>
        <td>{{us.PrimeiroNome}}</td>
        <td>{{us.SegundoNome}}</td>
        <td>{{us.Email}}</td>
        <td>{{us.Cidade}}</td>
        <td>{{us.DataNascimento}}</td>
        <td>{{us.Vaga}}</td>
      </tr>
    </tbody>
  </table>

</div>