

<div class="container mt-5">

  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Primeiro Nome</label>
      <input type="text" class="form-control" id="validationCustom01" value="" required>
      <div class="valid-feedback">
     
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Segundo Nome</label>
      <input type="text" class="form-control" id="validationCustom02" value="" required>
      <div class="valid-feedback">
        
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Email</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">Cidade</label>
      <input type="text" class="form-control" id="validationCustom03" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>   
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Data Nascimento</label>
      <input type="text" class="form-control" id="validationCustom02" value="" required>
      <div class="valid-feedback">
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">Vaga</label>
      <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Selecione</option>
        <option>Programador</option>
        <option>Consultor de Vendas</option>
        <option>SDR</option>
        <option>Suporte ao Cliente</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Aceita com os termos
        </label>
        <div class="invalid-feedback">

        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Salvar </button>
    </div>
  </form>

--------------------------------------------------------------------------
</div>
<router-outlet>
<div class="container mt-5">
  <h1>Dados Criados </h1>
  <a routerLink="read" class="btn btn-primary">Ver dados </a>

</div>
</router-outlet>